<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928922818464-640ai2g7gonuj1fkghop5mu37cfqos9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928922818464-640ai2g7gonuj1fkghop5mu37cfqos9f</string>
	<key>API_KEY</key>
	<string>AIzaSyCGyKJ7Xw3weAf99oqo8x3HDHG_sA070fk</string>
	<key>GCM_SENDER_ID</key>
	<string>928922818464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chul.FireMesStory</string>
	<key>PROJECT_ID</key>
	<string>firemess-b4c48</string>
	<key>STORAGE_BUCKET</key>
	<string>firemess-b4c48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928922818464:ios:b1025f7720ca589464f6c5</string>
	<key>DATABASE_URL</key>
	<string>https://firemess-b4c48.firebaseio.com</string>
</dict>
</plist>